seed: 1234
lr: 1e-05
clip-norm: 0.1
dropout: 0.2
max-tokens: 4000
warmup: 1000
num_workers: 4
val_every: 0.33
max_prediction_span: 25
max_output_len: 128
max_input_len: 1024
batch_size: 8
eval_batch_size: 8
fp16: False
grad_ckpt: True
attention_window: 256
num_epochs: 12
every_n_epochs: 2
model_name: allenai/longformer-base-4096 #mrm8488/longformer-base-4096-finetuned-squadv2
trained_model_path: 
data_dir: /data
output_dir: /saved_models/
clearml_dataset_project_name: datasets/muc4
clearml_dataset_name: muc4-processed-post-eda-v3
clearml_dataset_tags: ['6 Fields', 'GTT', 'processed']
task_tags: ["zero negatives"]
gpu: 1
debug: False
train: True
test: True
grad_accum: 4
early_stopping: True
checkpointing: True
remote: True
queue: compute
role_map: {
    'Location': "where did the event happen?",
    'PerpInd': "who attacked the victim?",
    'PerpOrg': "what organization did the attacker belong to?",
    'PhysicalTarget': "what is the target of the event?",
    'HumTarget': "who is the victim of the event?",
    'Weapon': 'what weapon was used to attack the victim?',
}
classifier_outputs: []